*{
  margin :0
}
.app{
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}
.app__dropdown{
  background-color: white;
}
.app__header>h1{
  color: #fc3c3c;
  font-size: 2rem;
}
.app__header{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}
body{
  background-color: #f5f6fa;
}
.app_status{
  display: flex;
  justify-content: space-between;
}
@media (max-width: 990px){
  .app{
    flex-direction: column;
  }
}
.app__left{
flex: 0.9;
}
.app__graphtitle{
  margin-top: 20px;
  margin-bottom: 20px;
}
.app__title>h1{
  color: #fc3c3c;
  font-size: 2rem;
}
.app__creater{
    color: #666;
    font-family: cursive;
    font-size: 14px;
}
.header__github{
  display: flex;
  border: 1px solid white;
  margin-right: 0px;
  margin-left: 0px;
  background: black;
  border-radius: 5px;
}
.header__github a{
  text-decoration: none;
  color: white;
  align-items: center;
  display: flex;
  padding: 5px 10px;
}